.vscode
.venv
.env
db.sqlite3
whole.json
data_travello
accounts/__pycache__
accounts/migrations
calc/__pycache__
calc/migrations
travello/__pycache__
travelloapp/__pycache__
travelloapp/migrations
itinerary/__pycache__
itinerary/migrations